Repository victordsantoss/brain-ag-api: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,ts,json,md}": [
    "prettier --write"
  ],
  "*.{js,ts}": [
    "eslint --fix"
  ]
}

docs: Update README.md
  README.md
Due: prettier --write

docs: Update README.MD
  README.md
  src/common/configs/.gitkeep
  src/common/filters/.gitkeep
  src/common/strategy/.gitkeep
Due: prettier --write

feat(build): add deploy with github actions
  .github/workflows/deploy.yml
Due: none

docs: update README.MD
  README.md
Due: prettier --write

fix: hot fixes
  src/modules/producer/services/producer/list/list.service.ts
Due: prettier --write, eslint --fix

fix: hot fixes
  src/common/utils/validators/cpf.validators.ts
  src/modules/producer/dtos/producer/base.dto.ts
  src/modules/producer/services/producer/register/register.service.ts
Due: prettier --write, eslint --fix

fix(tests): hot fixes
  src/modules/producer/services/producer/register/register.service.spec.ts
  src/modules/producer/services/producer/register/register.service.ts
Due: prettier --write, eslint --fix
